<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.JPG" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> Shishuvihar and Nutan Shishuvihar</div>
                    <p class="desc mb-45">
                        The late Charotar Education Society founder, Motibhai Amin Sahib, founded this Shishuvihar with
                        nine children on June 16, 1943 AD. At the end of the year, there were 23 children. Day by day,
                        the reputation of society increased due to its outstanding educational activities. Shishuvihar
                        Nutan Shishuvihar of the Charotar Education Society has flourished like a banyan tree in Junior
                        and Senior KG for seven years, with the chirping of a thousand children. Donations are required
                        for the construction of this complex. During the organization's initial work (1943), a donation
                        of Rs. 40 thousand was received in memory of Sumanbhai Kuberbhai, demonstrating the
                        organization's sound management.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->