<app-header></app-header>
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.JPG" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        The Golden Foundation
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> Charotar Education Society has proven</div>
                    <p class="desc mb-45">
                        to be the founder of modern Charotar and the birthplace of
                        the educational and cultural development of Charotar.
                        Today, the standard of education everywhere is deteriorating day by day. The ideal of education
                        is not thought to be the instillation of life values or the formation of life. Instead of
                        creating life, it prefers to flow. Such complaints have become universal. Then the Charotar
                        Education Society made radical changes in basic education itself. New educational courses have
                        been started. The child becomes strong, healthy, and powerful. The educational objectives of
                        nurturing the child's imagination, imitating, developing a courage-fearlessness-co-operative
                        spirit, and training the child in leadership are achieved through this curriculum.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

<app-footer></app-footer>